* {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.calculator {
  border: 1px solid #ccc;
  width: 80%;
  max-width: 370px;
  margin: 3em auto;
}

.calculatorTitle {
  margin: 2em auto;
  text-align: center;
  font-family: "Arial Narrow Bold", sans-serif;
}

.calculator-screen {
  width: 100%;
  font-size: 2rem;
  height: 50px;
  border: none;
  background-color: #949393;
  color: #fff;
  text-align: right;
  padding-right: 10px;
}

button {
  height: 50px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #dfdfdf;
  font-size: 1rem;
  color: #000;
}

button:hover {
  background-color: #eaeaea;
}

.operator {
  background-color: #f8c453;
}

.operator:hover {
  background-color: #e9a20a;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.zero {
  grid-column-start: span 2;
}

.headerContainer {
  height: 10vh;
  width: 100%;
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5e0b2;
}

.footer {
  background-color: #f1d69b;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  height: 10vh;
}

.Title {
  font-size: 20px;
}

.flex,
.calculatorSection {
  display: flex;
  justify-content: space-between;
}

.Nav {
  width: 35%;
}

.homeTitle {
  margin: 3rem 0;
  font-size: 25px;
  text-align: center;
}

.homeParagraph {
  font-size: 19px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.link {
  color: #000;
  text-decoration: underline;
  list-style-type: none;
}

.quote {
  width: 90%;
  max-width: 500px;
  margin: 10em auto;
  font-family: cursive;
}
